menu "Display Configuration"

    config NEXTION_MAIN_GRAPH_WIDTH
        int "Main page graph width (px)"
        default 1024

    config NEXTION_MAIN_GRAPH_HEIGHT
        int "Main page graph height (px)"
        default 321

    config NEXTION_PROGRAMS_GRAPH_WIDTH
        int "Programs page graph width (px)"
        default 1024

    config NEXTION_PROGRAMS_GRAPH_HEIGHT
        int "Programs page graph height (px)"
        default 450

    config NEXTION_GRAPH_DISP_ID
        int "Main graph Nextion component ID"
        default 6
        help
            The object ID of the waveform component on the main page.

    config NEXTION_PROGRAMS_GRAPH_ID
        int "Programs graph Nextion component ID"
        default 51
        help
            The object ID of the waveform component on the programs page.

    config NEXTION_PAGE_MAIN
        string "Main page name"
        default "main_page"
        help
            Must match the page name in the Nextion HMI project.

    config NEXTION_PAGE_PROGRAMS
        string "Programs page name"
        default "programs_page"

    config NEXTION_PAGE_SETTINGS
        string "Settings page name"
        default "settings_page"

endmenu
