menu "Log Configuration"
    config LOG_ENABLE
        bool "Enable Logger"
        default y
    config LOG_LEVEL
        int "Logger Level"
        default 4
        range 0 4
    
    config LOG_QUEUE_SIZE
        int "Logger Queue Size"
        default 16
    
    config LOG_MAX_MESSAGE_LENGTH
        int "Maximum Log Message Length"
        default 265
endmenu

menu "SPI Master Configuration"

config SPI_BUS_MISO
    int "SPI MISO Pin"
    default 12

config SPI_BUS_MOSI
    int "SPI MOSI Pin"
    default 13

config SPI_BUS_SCK
    int "SPI SCK Pin"
    default 14

config SPI_MAX_NUM_SLAVES
    int "Number of SPI Slaves"
    default 1
    range 1 9

config SPI_CLOCK_SPEED_HZ
    int "SPI Clock Speed (Hz)"
    default 50000

config SPI_TRANSACTION_TIMEOUT_MS
    int "SPI Transaction Timeout (ms)"
    default 1000

config SPI_BUS_MODE
    int "SPI Bus Mode (0-3)"
    default 0
    range 0 3

menu "Slave Devices Configuration"

config SPI_SLAVE1_CS
    int "Slave 1 CS Pin"
    default 15

config SPI_SLAVE2_CS
    int "Slave 2 CS Pin"
    default 4

config SPI_SLAVE3_CS
    int "Slave 3 CS Pin"
    default 5
    
config SPI_SLAVE4_CS
    int "Slave 4 CS Pin"
    default 16
    
config SPI_SLAVE5_CS
    int "Slave 5 CS Pin"
    default 17
    
config SPI_SLAVE6_CS
    int "Slave 6 CS Pin"
    default 18
    
config SPI_SLAVE7_CS
    int "Slave 7 CS Pin"
    default 19
    
config SPI_SLAVE8_CS
    int "Slave 8 CS Pin"
    default 21
    
config SPI_SLAVE9_CS
    int "Slave 9 CS Pin"
    default 22
    
endmenu
endmenu

menu "Temperature Sensors Config"
    config TEMP_SENSORS_MAX_SENSORS
        int "Max number of supported sensors"
        default 9
    
    config TEMP_SENSORS_SAMPLING_FREQ_HZ
        int "Temperature Sampling Frequency (Hz)"
        default 20

    config TEMP_SENSORS_RING_BUFFER_SIZE
        int "Ring Buffer Size"
        default 32

    config TEMP_SENSOR_RETRY_DELAY_MS
        int "Sensor Read Retry Delay (ms)"
        default 10

    config TEMP_DELTA_THRESHOLD
        int "Temperature Delta Threshold +-(°C)"
        default 2
    
    config TEMP_SENSORS_HAVE_OUTLIERS_REJECTION
        bool "Enable Outliers Rejection"
        default y
    
    config TEMP_SENSOR_MAX_TEMPERATURE_C
        int "Max Temperature (°C)"
        default 220

    config TEMP_SENSOR_MAX_READ_RETRIES
        int "Max Read Retries"
        default 3
    
endmenu