menu "Logging"

    config LOG_ENABLE
        bool "Enable logging"
        default y

    config LOG_LEVEL
        int "Log level (0=ERROR ... 4=VERBOSE)"
        default 4
        range 0 4

    config LOG_QUEUE_SIZE
        int "Queue size"
        default 16

    config LOG_MAX_MESSAGE_LENGTH
        int "Max message length"
        default 265

endmenu

menu "Coordinator"

    config COORDINATOR_MAX_HEATING_PROFILE_STEPS
        int "Max heating profile steps"
        default 20
    
    config COORDINATOR_MAX_PROFILES_STORED
        int "Max number of stored profiles"
        default 5
    
endmenu

menu "PID Controller Configuration"
    config PID_KP
        int "Proportional Coefficient (Kp) percent"
        default 100
        range 0 100

    config PID_KI
        int "Integral Coefficient (Ki) percent"
        default 10
        range 0 100

    config PID_KD
        int "Derivative Coefficient (Kd) percent"
        default 1
        range 0 100

    config PID_OUTPUT_MIN
        int "Minimum Output Limit percent"
        default 0
        range 0 100

    config PID_OUTPUT_MAX
        int "Maximum Output Limit percent"
        default 100
        range 0 100
endmenu

menu "Heater Controller"
    config HEATER_CONTROLLER_GPIO
        int "GPIO Pin"
        default 25
    
    config HEATER_WINDOW_SIZE_MS
        int "Heater Window Size (ms)"
        default 10000
endmenu

menu "Alarm Controller"
    config ALARM_CONTROLLER_GPIO
        int "GPIO Pin"
        default 26
endmenu