menu "Run Indicator"

config RUN_INDICATOR_ENABLED
    bool "Enable run indicator"
    default n

config RUN_INDICATOR_GPIO
    int "Run Indicator GPIO Pin"
    default -1
    depends on RUN_INDICATOR_ENABLED

endmenu
